<section class="hero" id="Home">
  <!--
  <video autoplay muted loop id="myVideo">
    <source src="images/videos/event_vid_4_cropped.mp4" type="video/mp4">
  </video>

  <div class="hero-content">
      <div class="block">
        <h1>Gravity Room</h1>
        <h6>Video Editing / Translations</h6>
      </div>
  </div>
  -->


</section>
