<div class="stars"></div>
<div class="twinkling"></div>
<div class="clouds"></div>

<div id="About" class="tab intro">
  <h2 class="animation-show">Yayoi</h2>
  <%= image_tag 'library/logo.webp', class:"animation-show" %>
  <p class="animation-show">
      Gravity Roomにはいろんなものが集まってきます。
      <br>
      私たちが重力によって地球に引っ張られているように・・。
      <br>
      そしてこの世界をいろいろな方法で冒険するのが、Gravity Roomのプロジェクトです。
      <br>
      音楽、写真、動画、言葉、など。
      <br>
      過ぎ去っていくその瞬間を記録するツールが溢れている時代に感謝。
      <br>
      <br>
      In Gravity Room, all things come together.
      <br>
      Just as we are pulled toward the Earth by gravity itself...
      <br>
      The Gravity Room project explores this world in a variety of ways.
      <br>
      Through Music, Photos, Videos, Words… and more.
      <br>
      It is a blessing and reminder that we have the tools to record the moments that are constantly passing away.
  </p>
  <div class="intro-social-div animation-show">
    <ul class="intro-social-ul">
      <li><a href="https://open.spotify.com/artist/3vbXUUQLZUwtRpagZ8cErD" target="_blank"><i class="fa-brands fa-spotify"></i></a></li>
      <li><a href="https://www.instagram.com/yayoi0410/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
      <li><a href="https://www.youtube.com/@gravity_room" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
      <li><a href="https://soundcloud.com/gravityroom4" target="_blank"><i class="fa-brands fa-soundcloud"></i></a></li>
    </ul>
  </div>
  <button class="animation-show">
    <a href="#Contact">
      Contact
    </a>
  </button>
</div>
