<div class="tab library">
  <div class="animation-show">
      <%= image_tag 'library/9.jpg' %>
      <p>Image Name</p>
  </div>
  <div class="animation-show">
      <%= image_tag 'library/10.jpg' %>
      <p>Image Name</p>
  </div>
  <div class="animation-show">
      <%= image_tag 'library/11.jpg' %>
      <p>Image Name</p>
  </div>
  <div class="animation-show">
      <%= image_tag 'library/12.jpg' %>
      <p>Image Name</p>
  </div>
</div>
