<nav>
  <h6>Gravity Room</h6>
  <ul class="desktop-menu">
    <li><a href="#Home">Home</a></li>
    <li><a href="#About">About</a></li>
    <li><a href="#Portfolio">Portfolio</a></li>
    <li><a href="#Gallery">Gallery</a></li>
    <li><a href="#Contact">Contact</a></li>
  </ul>
  <ul class="mobile-menu" style="display: none;">
    <li><a href="#Home">Home</a></li>
    <li><a href="#About">About</a></li>
    <li><a href="#Portfolio">Portfolio</a></li>
    <li><a href="#Gallery">Gallery</a></li>
    <li><a href="#Contact">Contact</a></li>
  </ul>
  <button onclick="toggleMenu()"><i class="fa-solid fa-bars"></i></button>
</nav>
