    <div class="banner">
        <div class="bg bg-1"></div>
        <div class="bg bg-2"></div>
        <div class="bg bg-3"></div>
        <h1>LunDev!</h1>
        <div class="bg bg-4"></div>
        <div class="bg bg-5"></div>
        <div class="bg bg-6"></div>
        <div class="bg bg-7"></div>
        <div class="bg bg-8"></div>
        <div class="bg bg-9"></div>
    </div>
