<div id="Portfolio" class="portfolio-container">

<div class="portfolio-card tab">
  <div class="portfolio-text animation-show">
    <h2>A Look In Sacramento, California</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto, ipsum quas temporibus quia sapiente porro, nostrum autem quod officia adipisci ut laudantium suscipit hic voluptatibus atque aliquid dignissimos quam dicta!</p>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias quas optio a perferendis veniam sint perspiciatis veritatis, ab quidem animi doloremque, saepe minima ullam dolore dicta fuga odio cum enim.</p>
  </div>
  <div class="portfolio-video animation-show">
  <iframe width="100%" height="100%" src="https://www.youtube.com/embed/IFleNgOaE1w?si=rLuhijiHmWQGkf5y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
</div>

<div class="portfolio-card tab reverse">
  <div class="portfolio-video animation-show">
  <iframe width="100%" height="100%" src="https://www.youtube.com/embed/WuLTFC1kbHc?si=KQzj2ljatxOkOhop&amp;start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
  <div class="portfolio-text animation-show">
    <h2>A Look In Krabi, Thailand</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto, ipsum quas temporibus quia sapiente porro, nostrum autem quod officia adipisci ut laudantium suscipit hic voluptatibus atque aliquid dignissimos quam dicta!</p>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias quas optio a perferendis veniam sint perspiciatis veritatis, ab quidem animi doloremque, saepe minima ullam dolore dicta fuga odio cum enim.</p>
  </div>
</div>

<div class="portfolio-card tab">
  <div class="portfolio-text animation-show">
    <h2>A Look In Hoi An, Vietnam</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto, ipsum quas temporibus quia sapiente porro, nostrum autem quod officia adipisci ut laudantium suscipit hic voluptatibus atque aliquid dignissimos quam dicta!</p>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias quas optio a perferendis veniam sint perspiciatis veritatis, ab quidem animi doloremque, saepe minima ullam dolore dicta fuga odio cum enim.</p>
  </div>
  <div class="portfolio-video animation-show">
  <iframe width="100%" height="100%" src="https://www.youtube.com/embed/wcfqa4ru6QE?si=vi6VkM6-AnmMsByb&amp;start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
</div>

</div>
