.library{
  margin-top: 50px;
  margin-bottom: 10rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  color: #fff;
  margin-left: 10vw;
  margin-right: 10vw;
}
.library img{
  width: 90%;
  height: 500px;
  object-fit: cover;
}
#eapps-instagram-feed-1 {
  margin-bottom: 10rem;
}
.embed-section {
  margin-left: 10vw;
  margin-right: 10vw;
}

@media screen and (max-width: 768px){
  .library{
      grid-template-columns: repeat(2, 1fr);
  }
  .library img{
      height: 300px;
  }
}
@media screen and (max-width: 426px){
  .library{
      margin-bottom: 5rem;
  }
  #eapps-instagram-feed-1 {
    margin-bottom: 5rem;
  }
}
