.library{
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  color: #fff;
}
.library img{
  width: 90%;
  height: 500px;
  object-fit: cover;
}

@media screen and (max-width: 768px){
  .library{
      grid-template-columns: repeat(2, 1fr);
  }
  .library img{
      height: 300px;
  }
}
