nav {
  border-bottom: 1px solid #F0EAD6;
  background-color: black;
  width: 100vw;
  height: 7vh;
  position: fixed;
  top: 0;
  z-index: 99;
  display: flex;
  justify-content: space-between;
}
nav h6 {
  color: #F0EAD6;
  margin-bottom: 0;
  align-self: center;
  margin-left: 2vw;
  font-family: "Averia Serif Libre", serif;
  font-weight: 400;
  font-style: normal;
}
.desktop-menu {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-right: 2vw;
  list-style-type: none;
}
.mobile-menu {
  margin-top: 7vh;
  width: 50vw;
  height: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  padding: 1rem;
  display: none;
  border-radius: 0 0 0 20px;
  border-left: 1px solid #F0EAD6;
  border-bottom: 1px solid #F0EAD6;
  z-index: 99;
}
.desktop-menu li a {
  text-decoration: none;
  color: #F0EAD6;
  font-family: "Kiwi Maru", serif;
  font-weight: 400;
  font-style: normal;
}
.mobile-menu li a {
  text-decoration: none;
  color: #F0EAD6;
  font-family: "Kiwi Maru", serif;
  font-weight: 400;
  font-style: normal;
}
nav button {
  display: none;
}

@media screen and (max-width: 1230px){
  .desktop-menu {
    width: 35%;
  }
}
@media screen and (max-width: 1024px){
  .desktop-menu {
    width: 40%;
  }
}
@media screen and (max-width: 900px){
  .desktop-menu {
    width: 50%;
  }
}
/* Mobile-specific styles */
@media screen and (max-width: 768px) {
  .desktop-menu {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
  nav button {
    display: block;
    background-color: transparent;
    border: none;
    color: #F0EAD6;
    cursor: pointer;
    margin-right: 4vw;
    font-size: 1.5rem;
  }
  nav h6 {
    margin-left: 4vw;
  }
}
