.banner{
  height: 100vh;
  margin-top: 5vh;
  position: relative;
  overflow: hidden;
}
.banner .bg{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-size: auto 100%;
  background-position: center bottom;
  transition: 0.1s;
  background-repeat: no-repeat;
  overflow-x: hidden;
}
.banner .bg-1{
  background-image: image-url('parallax/space-hero.png');
  background-repeat: unset;
}
.banner .bg-2{
  background-image: image-url('parallax/earth-cropped.png');
}
.banner .bg-3{
  background-image: image-url('parallax/mountain-range-2560.png');
  bottom: 100px;
  background-size: unset;
}
.banner .bg-4{
  background-image: image-url('parallax/sunset-ocean-2560.png');
  background-size: unset;
}
.banner .bg-5{
  background-image: image-url('parallax/left-hill-2560.png');
  top: 100px;
  background-size: unset;
}
.banner .bg-6{
  background-image: image-url('parallax/right-hill.png');
  top: 480px;
}
.banner .bg-7{
  background-image: image-url('parallax/sunset-hill-2560.png');
  background-size: unset;
  top: 730px;
}
.banner .bg-8{
  background-image: image-url('parallax/car-hill-1200.png');
  background-size: unset;
  background-repeat: no-repeat;
  bottom: 80px;
}
.banner .bg-9{
  background-image: image-url('parallax/palm-foreground-2560.png');
  background-size: unset;
  top: 50px;
}
.banner  h1{
  position: absolute;
  top: 5%;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  color: #F0EAD6;
  font-family: "Averia Serif Libre", serif;
  font-weight: 700;
  font-style: normal;
}

@media screen and (max-width: 1920px){
  .banner .bg-9 {
    background-image: image-url('parallax/palm-foreground.png');
  }
  .banner .bg-8{
    background-image: image-url('parallax/car-hill-900.png');
  }
  .banner .bg-7{
    background-image: image-url('parallax/sunset-hill-1440.png');
  }
  .banner .bg-5{
    background-image: image-url('parallax/left-hill.png');
  }
  .banner .bg-4 {
    display: none;
  }
  .banner .bg-3{
    background-image: image-url('parallax/mountain-test.png');
    overflow: hidden;
  }
}
@media screen and (max-width: 1440px){
  .banner .bg-3{
    bottom: 0px;
  }
  .banner .bg-4{
    top: 190px;
  }
  .banner .bg-5{
    top: 140px;
  }
  .banner .bg-6{
    top: 250px;
  }
  .banner .bg-7{
    top: 280px;
  }
  .banner .bg-8{
    bottom: 60px;
  }
}
@media screen and (max-width: 1024px){
  .banner .bg-3 {
    bottom: 70px;
  }
  .banner .bg-5 {
    top: 120px;
  }
  .banner .bg-6 {
    top: 220px;
  }
  .banner .bg-8 {
    background-image: image-url('parallax/car-hill-900.png');
    bottom: 0;
  }
}
@media screen and (max-width: 768px){
  .banner h1{
      font-size: 3rem;
  }
  .banner .bg-8 {
    background-image: image-url('parallax/car-hill-700.png');
  }
}
@media screen and (max-width: 425px){
  .banner .bg-3 {
    bottom: 50px;
  }
  .banner .bg-5 {
    top: 70px;
  }
  .banner .bg-6 {
    top: 220px;
  }
  .banner .bg-7 {
    top: 160px;
  }
  .banner .bg-8 {
    background-image: image-url('parallax/car-hill-300.png');
    bottom: 140px;
  }
  .banner .bg-9{
    background-repeat: no-repeat;
  }
  .banner h1{
    font-size: 2rem;
  }
  .intro {
    min-height: 100vh;
  }
}

@media all and (max-width: 426px) {
  .banner {
    height: 90vh;
  }
  .banner .bg-3 {
    bottom: -20px;
  }
  .banner .bg-5 {
    top: 210px;
  }
  .banner .bg-7 {
    top: 190px;
  }
}
