@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.banner{
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.banner .bg{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-size: auto 100%;
  background-position: center bottom;
  transition: 0.1s;
}
.banner .bg-1{
  background-image: image-url('parallax/space-hero.png');
}
.banner .bg-2{
  background-image: image-url('parallax/earth-cropped.png');
}
.banner .bg-3{
  background-image: image-url('parallax/mountain-test.png');
  bottom: 120px;
}
.banner .bg-4{
  background-image: image-url('parallax/ocean-wave.png');
  bottom: -210px;
  background-size: unset;
}
.banner .bg-5{
  background-image: image-url('parallax/left-hill.png');
  top: 100px;
}
.banner .bg-6{
  background-image: image-url('parallax/right-hill.png');
  top: 310px;
}
.banner .bg-7{
  background-image: image-url('parallax/sunset-hill.png');
  background-size: unset;
  top: 450px;
}
.banner .bg-8{
  background-image: image-url('parallax/car-hill-cut1.png');
  background-size: unset;
  background-repeat: no-repeat;
}
.banner .bg-9{
  background-image: image-url('parallax/palm-foreground.png');
  background-size: unset;
  top: 50px;
}
.banner  h1{
  position: absolute;
  top: 5%;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
  color: #fff;
}


@media screen and (max-width: 1200px){
  .banner .bg-8 {
    background-image: image-url('parallax/car-hill-cut2.png');
  }
}
@media screen and (max-width: 1024px){
  .banner .bg-3 {
    bottom: 170px;
  }
  .banner .bg-5 {
    top: 20px;
  }
  .banner .bg-6 {
    top: 220px;
  }
  .banner .bg-8 {
    background-image: image-url('parallax/car-hill-cut3.png');
  }
  .banner .bg-9{
    background-image: image-url('parallax/palm-foreground-1024.png');
  }
}
@media screen and (max-width: 768px){
  .banner h1{
      font-size: 3rem;
  }
}
@media screen and (max-width: 425px){
  .banner .bg-3 {
    bottom: 200px;
  }
  .banner .bg-4 {
    bottom: -160px;
  }
  .banner .bg-5 {
    top: -10px;
  }
  .banner .bg-6 {
    top: 220px;
  }
  .banner .bg-7 {
    display: none;
  }
  .banner .bg-8 {
    background-image: image-url('parallax/car-hill-300.png');
    bottom: 20px;
  }
  .banner .bg-9{
    background-repeat: no-repeat;
  }
  .banner h1{
    font-size: 2rem;
  }
  .intro {
    min-height: 100vh;
  }
}
