.portfolio-container{
  color: #eee;
  // border: 2px solid;
  padding: 5rem 2rem;
  display: flex;
  justify-content: center;
}
.portfolio-card{
  // border: 2px dotted;
  width: 90%;
  display: flex;
}
.portfolio-text{
  padding: 0 5rem;
  width: 50%;
}
.portfolio-video{
  width: 991px;
  height: 558px;
}

@media screen and (max-width: 1440px){
  .portfolio-video{
    width: 767px;
    height: 431px;
  }
}
@media screen and (max-width: 1024px){
  .portfolio-video{
    width: 479px;
    height: 270px;
  }
}
@media screen and (max-width: 768px){
  .portfolio-card {
    flex-direction: column-reverse;
    align-items: center;
  }
  .portfolio-text {
    padding: 1rem 5rem;
    width: 100%;
  }
}
@media screen and (max-width: 576px){
  .portfolio-video{
    width: 350px;
    height: 197px;
  }
}
@media screen and (max-width: 426px){
  .portfolio-video{
    width: 300px;
    height: 169px;
  }
  .portfolio-text {
    padding: 1rem 0;
  }
}
@media screen and (max-width: 321px){
  .portfolio-video{
    width: 280px;
    height: 158px;
  }
}
