.portfolio-container{
  color: #eee;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10vw;
  margin-right: 10vw;
}
.portfolio-card{
  width: 90%;
  display: flex;
  padding: 5rem 0;
  gap: 5rem;
}
.portfolio-text{
  width: 50%;
}
.portfolio-text h2, p {
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.portfolio-video{
  width: 991px;
  height: 558px;
}

@media screen and (max-width: 1440px){
  .portfolio-video{
    width: 767px;
    height: 431px;
  }
}
@media screen and (max-width: 1024px){
  .portfolio-video{
    width: 479px;
    height: 270px;
  }
}
@media screen and (max-width: 768px){
  .portfolio-card{
    flex-direction: column-reverse;
    align-items: center;
  }
  .reverse{
    flex-direction: column;
  }
  .portfolio-text{
    padding: 1rem 5rem;
    width: 100%;
  }
}
@media screen and (max-width: 576px){
  .portfolio-video{
    width: 350px;
    height: 197px;
  }
}
@media screen and (max-width: 426px){
  .portfolio-video{
    width: 300px;
    height: 169px;
  }
  .portfolio-text {
    padding: 2rem 0;
  }
}
@media screen and (max-width: 321px){
  .portfolio-video{
    width: 280px;
    height: 158px;
  }
}
